:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal:	#048f99;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bs-gray-dark);
    font-family: 'Source Code Pro', monospace;
    color: var(--bs-cyan);
}

nav {
    background-color: var(--bs-gray-dark);
    box-shadow: 0px 6px 6px -4px #000000;
    font-family: 'Bungee Hairline', sans-serif;
    font-weight: bold;
}

.navbar-brand, .nav-link:focus {
    color: var(--bs-cyan);
}

a:hover.navbar-brand {
    color: var(--bs-teal);
}

.nav-link {
    color: white;
}

a.nav-link:hover {
    color: var(--bs-teal);
    border-top: 1px solid;
}

a.nav-link:focus {
    border-bottom: 1px solid;
}

.header-row {
    margin-top: 10rem;
}

.name-header {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 4rem;
}

.name-tagline {
    font-family: 'Bungee Hairline', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.link-badges img {
    height: 3rem;
}

.section-title{
    font-family: 'Bungee Hairline', sans-serif;
    font-weight: 700;
}

.section-card {
    border-radius: 15px;
    background: #343a40;
    box-shadow:  -15px -15px 30px #282d31,
                15px 15px 30px #40474f;
}

.section-card a {
    color: white;
}

.skill-badge img {
    height: 6rem;
    width: 6rem;
}

.skill-badge .img-resize {
    height: 4rem;
    width: 4rem;
    margin-top: 1rem;
}

.footer {
    font-size: .6rem;
}

@media (max-width: 768px) {
    nav {
        font-size: 1rem;
    }

    .header-row {
        margin-top: 7rem;
    }

    .name-header {
        font-size: 3rem;
    }
}

@media (max-width: 470px) {
    h5 {
        font-size: .9rem;
    }
}
